<% if @current_user %>
  <p>Hi <%= @current_user %>! You are logged in.</p>
<% else %>
  <div id="welcome-hero-unit" class="hero-unit">
    <h1>Welcome to the Entropi CAS Client Example App</h1>
    <p>This app is used to test a CAS Server and is used as an example of how to build an CAS Client app with rails.</p>
    <p><%= link_to("Login", RubyCAS::Filter.login_url(controller), :class => "btn btn-primary btn-large") %></p>
  </div>
<% end %>